{% extends 'site.html' %}
{% block title %}{{ super() }} - Autor - {{ author.nick }}{% endblock %}
{% block content %}
<h1>{{ author.nick }}</h1>
<p>Der Author mit dem Nickname {{ author.nick }} trägt im wirklichen Leben den
Namen {{ author.name }}.</p>
{% if author.has_donation %}
<h2>Spenden</h2>
<p>Du kannst diesem Author spenden zukommen lassen, und zwar über folgende
	Dienste:
	{% if author.bitcoin %}
	<a href="bitcoin:{{ author.bitcoin }}"><img src="/bitcoin.png">{{ author.bitcoin }}</a>
	{% endif %}
	{% if author.amazon %}
	<a href="{{ author.amazon }}"><img src="/amazon.png"></a>
	{% endif %}
	{% if author.flattr %}
	<a href="{{ author.flattr }}"><img src="/flattr.png"></a>
	{% endif %}
</p>
{% endif %}
{% if author.has_contact %}
<h2>Kontakt</h2>
<p>Der Autor ist über folgende Dienste erreichbar:
	{% if author.googleplus %}
	<a href="{{ author.googleplus }}"><img src="/gplus.png"></a>
	{% endif %}
	{% if author.twitter %}
	<a href="{{ author.twitter }}"><img src="/twitter.png"></a>
	{% endif %}
	{% if author.mail %}
	<a href="mailto:{{ author.mail }}"><img src="/mail.png"></a>
	{% endif %}
</p>
{% endif %}
<h2>Statistik</h2>
<table>
	{% if author.first_post %}
	<tr>
		<th>Erster Artikel</th>
		<td>{{ author.first_post.date }} - {{ author.first_post.title }}</td>
	</tr>
	<tr>
		<th>Letzer Artikel</th>
		<td>{{ author.last_post.date }} - {{ author.last_post.title }}</td>
	</tr>
	{% endif %}
	<tr>
		<th>Artikel Gesamt</th>
		<td>{{ author.post_count }} ({{ author.post_percent|round(2) }}%)</td>
	</tr>
	<tr>
		<th>Letzte 10 Artikel</th>
		<td>
			{% for post in author.posts[-10:] %}
			{{ post.date }} - {{ post.title }}<br>
			{% endfor %}
		</td>
</table>
{% include "authors/{}.html".format(author.nick) ignore missing %}
{% endblock %}
