{% macro postrenderer(post, length=None) %}
{% include "post_title.html" %}
{% include "post_header.html" %}
{% if length %}
{{ post.content|truncate(length, False) }}
<br>
<a href="{{ post.permalink }}/" name="{{ post.slug }}" rel="bookmark" title="Permalink to „{{ post.title }}    “">Read all »</a>
{% else %}
{{ post.content }}
{% endif %}
<hr>
{% endmacro %}
{% macro postlistrenderer(posts) %}
<ul>
{% for post in posts %}
<li><a href="{{ post.permalink }}/">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endmacro %}
