<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">    
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{% block title %}{{ blog.config['blog']['name'] }}{% endblock %}</title>
<link rel="alternate" type="application/atom+xml" title="Atom 1.0"
href="/feed.atom" />
{% endblock %}
</head>
<body>
{% block body %}
<h1><a href="{{ blog.config['blog']['url'] }}">{{ blog.config['blog']['name'] }}</a></h1>
<h2 class='alt'>{{ blog.config['blog']['description'] }}</h2>
{% block content %}
{% endblock %}
{% endblock body %}
</body>
</html>
