{% macro postrenderer(post) %}
<h1 class='bottom'><a href="{{ post.permalink }}" name="{{ post.slug }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{post.title}}</a></h1>
<div class='quiet'>{{post.date.strftime("%Y-%m-%d %H:%M")}} | categories: 
{% for category in post.categories %}
<a href="/category/{{ category }}">{{ category }}</a>
{% endfor %}
</div>
{{ post.content() }}
<hr/>
{% endmacro %}
{% macro postlistrenderer(posts) %}
<ul>
{% for post in posts %}
<li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endmacro %}
